.pagination {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    background-color: #007FDA;;
    border-radius: 12px;
}

.page-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.page-link {
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightskyblue;
    color: #FFF;
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 12px;
}

.page-link:hover {
    background-color: #FFF;
    color: #007FDA;
}
.page-link:visited {
    display: flex;
    text-decoration: none;
}