.submit-container:hover {
    background-color: #fff;
    color: #FF9A3C;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #D9D9D9;
    margin-top: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 200%;
    align-items: center;
    border-radius: 12px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 200%;
    color: #FF9A3C;
    font-weight: 700;
}

.add-client-button {
    
}

.item-tag {
    font-weight: 500;
    margin-right: 12px;
    background-color: #FF9A3C;
    color: #D9D9D9;
    padding: 2px;
    border-radius: 6px;
}

.list-group {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color:lightgray;
    border-radius: 12px;
    height: fit-content;
    justify-content: space-evenly;
    box-shadow: 0 0 5pt 0.5pt dimgray;
}

.list-group-item {
    display: flex;
    flex-direction: row;
    width: 480px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #FFC085;
    align-items: center;
    justify-content: space-around;
    font-size: 40%;
    border-radius: 6px;
    border-color: #FF9A3C;
}
