.headbar {
    height: auto;
    width: 100%;
    padding: 10px 0;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    cursor: pointer;
}

.headbar-container {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 10px 50px;
    border-radius: 12px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.headbar-container:hover {
    background-color: #007FDA;
    color: #FFF;
    transition: 0.3s;
}

.logout {
    cursor: pointer;
    width: 30px;
}